* {
    margin: 0;
    padding: 0;
}

/* Fonts */

h1, h2 {
    font-family: 'Macondo Swash Caps', serif;
}

a, p {
    font-family: 'Open Sans', sans-serif;
}

/* Top navigation */

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #000000;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
}

.nav {
    color: #ffffff;
    text-decoration: none;
}

.nav:hover {
    color: #5CD3E7;
    text-decoration: underline;
}

.nav:active {
    color: #5CD3E7;
    text-decoration: underline;
    font-weight: 700;
}

/* Buttons */

.primary {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: #5CD3E7;
    color: #000000;
    padding: 8px 16px;
    border: none;
    max-width: 120px;
    height: auto;
}

.primary:hover {
    background-color: #ffffff;
    cursor: pointer;
}

/* Banner */

.banner {
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    height: 320px auto;
    flex-wrap: wrap;
    background-image: url("img/banner-bg.png");
    background-color: #000000;
    padding: 48px;
    gap: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px;
    background-color: #000000;
    max-width: 400px;
}

.hero-text h1 {
    font-family: 'Macondo Swash Caps', serif;
    color:#5CD3E7;
}

.hero-text p {
    font-family: 'Open Sans', sans-serif;
    color: #BBC0C2;
}

/* Highlights */ 

.highlights, .reviews, .cta {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 48px;
}

.highlights-card-group {
    display: flex;
    justify-content:space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 48px;
    gap: 48px;
}

.highlights-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-width: 280px;
}

.highlights p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.highlight-card-title {
    font-weight: 700;
}

/* Reviews */

.reviews {
    background-color: #F3D72B;
}

.reviews-group {
    width: auto;
    max-width: 800px;
}

.reviews-group .quote{
    font-style: italic;
    font-size:large;
    color:#444444;
    padding-bottom: 8px;
}

.quoter {
    text-align: right;
    font-size: 14px;
    color: #000000;
}

/* CTA */

.cta {
    background-color: #000000;
}

.cta h2 {
    color: #5CD3E7;
}

.cta p {
    color:#BBC0C2;
    font-size: 14px;
}

.custom-border {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-image-width: auto;
    border-style: solid;
    border-image: url(img/border.png) 30 round;
    padding: 24px;

}

/* Footer */

.footer {
    text-align: center;
    font-size: 10px;
    padding: 16px;
    color:#8f8f8f;
    background-color: #000000;
    border-top: 1px solid #111111;
}


